<div class="navbar is-black">
    <div class="container">
        <div class="box-navbar">
            <div class="navbar-grow">
                <div class="navbar-brand">
                    <a href="/" class="navbar-item">
                        <span class="icon-navbar">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3 18.25H21V15.75H3V18.25ZM3 13.25H21V10.75H3V13.25ZM3 5.75V8.25H21V5.75H3Z" fill="white"/>
                            </svg>
                        </span>
                    </a>
                    <a href="/" class="navbar-item">
                        <svg width="43" height="30" viewBox="0 0 43 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M27.7421 15.2428C27.7932 15.1739 27.826 15.0904 27.826 14.9998C27.826 14.9091 27.7932 14.8256 27.7385 14.7603C27.7323 14.7541 27.7265 14.748 27.7208 14.7419C27.7099 14.7302 27.6994 14.7191 27.6874 14.7095L18.558 5.62627H18.5543L13.1416 0.239416L13.0978 0.195886C13.0955 0.193588 13.0932 0.190928 13.0908 0.188134C13.0855 0.182103 13.0798 0.175451 13.0723 0.170493C12.941 0.0652952 12.7732 0 12.5872 0H0.37933C0.171428 0 0 0.170493 0 0.377261C0 0.471576 0.0328266 0.555009 0.0875376 0.620304C0.0971508 0.632255 0.108348 0.642631 0.120084 0.653508C0.12616 0.659138 0.132381 0.664903 0.138601 0.671089L14.2504 14.7059C14.2624 14.7155 14.2728 14.7266 14.2838 14.7383C14.2894 14.7443 14.2952 14.7505 14.3015 14.7567C14.3525 14.822 14.3853 14.9054 14.3853 14.9961C14.3853 15.0868 14.3562 15.1702 14.3015 15.2392L14.2504 15.29L0.138601 29.3284C0.120364 29.3429 0.102127 29.3611 0.0875376 29.3792C0.0328266 29.4445 0 29.5279 0 29.6186C0 29.829 0.171428 29.9995 0.37933 29.9995H0.382977L12.5471 29.9959H12.62C12.817 29.9886 12.992 29.9052 13.1197 29.7782L13.1233 29.7746L18.558 24.3732L27.7421 15.2428ZM42.529 0.380895C42.529 0.471584 42.4961 0.555018 42.4414 0.623942C42.4318 0.635895 42.4206 0.646272 42.4089 0.657151C42.4028 0.66278 42.3966 0.668543 42.3904 0.674728L33.9319 9.08344C33.9223 9.09539 33.9111 9.10577 33.8993 9.11665C33.8933 9.12227 33.8871 9.12804 33.8808 9.13422C33.8152 9.18863 33.7313 9.21765 33.6401 9.21765C33.5489 9.21765 33.465 9.18501 33.3957 9.13422L24.8862 0.667473C24.8742 0.657917 24.8638 0.646787 24.8528 0.63512L24.8528 0.635096C24.8471 0.629055 24.8414 0.622871 24.8351 0.616687C24.7804 0.551391 24.7512 0.467956 24.7512 0.377267C24.7512 0.166868 24.919 0 25.1306 0H25.1342L42.1496 0.00362757C42.3575 0.00362757 42.529 0.170496 42.529 0.380895ZM42.529 29.6188C42.529 29.8292 42.3612 29.996 42.1496 29.996H42.146H25.1306C24.9227 29.996 24.7512 29.8255 24.7512 29.6188C24.7512 29.5281 24.7841 29.4446 24.8388 29.3757C24.8484 29.3638 24.8596 29.3534 24.8713 29.3425C24.8742 29.3399 24.877 29.3372 24.8799 29.3345C24.8832 29.3314 24.8865 29.3282 24.8898 29.3249L33.3447 20.9162C33.3543 20.9043 33.3655 20.8939 33.3772 20.883C33.3833 20.8774 33.3895 20.8716 33.3957 20.8654C33.4614 20.811 33.5453 20.782 33.6365 20.782C33.7276 20.782 33.8115 20.8146 33.8808 20.8654L33.9319 20.9162L42.3904 29.3285C42.4024 29.3381 42.4128 29.3492 42.4238 29.3609C42.4294 29.367 42.4352 29.3731 42.4414 29.3793C42.4961 29.4483 42.529 29.5281 42.529 29.6188Z" fill="white"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="pt-2">
                <div class="is-flex">
                <a href="/" class="navbar-item">
                    <span class="icon-navbar">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.97991 16.4789C6.38787 16.4789 3.47595 13.5669 3.47595 9.97491C3.47595 6.38287 6.38787 3.47095 9.97991 3.47095C13.572 3.47095 16.4839 6.38287 16.4839 9.97491C16.4839 11.0262 16.2344 12.0193 15.7915 12.8982C15.576 13.3258 15.6191 13.8535 15.9577 14.1921L20.3985 18.6329C20.7891 19.0234 20.7891 19.6566 20.3985 20.0471L20.045 20.4007C19.6545 20.7912 19.0213 20.7912 18.6308 20.4007L14.1876 15.9575C13.8495 15.6194 13.3225 15.5759 12.8952 15.7905C12.0183 16.2309 11.0281 16.4789 9.97991 16.4789ZM9.97991 13.9789C12.1912 13.9789 13.9839 12.1862 13.9839 9.97491C13.9839 7.76358 12.1912 5.97095 9.97991 5.97095C7.76859 5.97095 5.97595 7.76358 5.97595 9.97491C5.97595 12.1862 7.76859 13.9789 9.97991 13.9789Z"/>
                        </svg>
                    </span>
                </a>
                <a href="/" class="navbar-item">
                    <span class="icon-navbar">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.2169 5.70743C22.4512 5.70743 22.6855 5.81157 22.8417 6.01983C22.9979 6.22809 23.05 6.48842 22.9458 6.72272L21.0454 12.9967C20.681 14.2202 19.5876 15.0273 18.312 15.0273H10.1116C8.86197 15.0273 7.74255 14.2202 7.37809 13.0227L4.98305 5.29091C4.85289 4.84834 4.46239 4.56198 3.9938 4.56198H1.78099C1.33843 4.56198 1 4.22355 1 3.78099C1 3.33843 1.33843 3 1.78099 3H3.9938C5.16528 3 6.15454 3.72892 6.49296 4.82231L6.77933 5.70743H22.2169ZM10.2937 15.9124C8.96601 15.9124 7.89866 17.0058 7.89866 18.3334C7.89866 19.6872 8.96601 20.7805 10.2937 20.7805C11.6214 20.7805 12.6887 19.6872 12.6887 18.3334C12.6887 16.9797 11.6214 15.9124 10.2937 15.9124ZM17.7653 15.9124C16.4376 15.9124 15.3702 17.0058 15.3702 18.3334C15.3702 19.6872 16.4376 20.7805 17.7653 20.7805C19.093 20.7805 20.1603 19.6872 20.1603 18.3334C20.1343 16.9797 19.0669 15.9124 17.7653 15.9124Z"/>
                        </svg>
                    </span>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-6 mb-6">
  <div class="has-text-centered">
    <h1 class="title is-2">{{pageTitle}}</h1>
  </div>
</div>
