{{#> main }}
    {{> header pageTitle="Cervezas"}}
    <div class="container">
        <div class="content px-4">
            <div class="columns is-mobile is-desktop is-multiline is-none" id="app"></div>
        </div>
        <div class="container">
            <div class="content px-4">
                <article class="box-article p-4">
                    <ul class="list-inline">
                        <li>
                            <p class="m-0">sigue mercando</p>
                            <h2 class="m-0">Vinos</h2>
                        </li>
                        <li  class="has-text-right">
                            <svg width="55" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.48 12.7521C12.8705 12.3616 12.8705 11.7284 12.48 11.3379L7.70708 6.56498C7.31655 6.17445 7.31655 5.54129 7.70708 5.15077L8.06063 4.79721C8.45115 4.40669 9.08432 4.40669 9.47484 4.79721L16.0164 11.3388C16.407 11.7293 16.407 12.3625 16.0164 12.753L14.9562 13.8132C14.956 13.8135 14.9556 13.8135 14.9553 13.8132V13.8132C14.9551 13.813 14.9547 13.813 14.9544 13.8132L9.47484 19.2928C9.08432 19.6833 8.45116 19.6833 8.06063 19.2928L7.70708 18.9392C7.31655 18.5487 7.31655 17.9156 7.70708 17.525L12.48 12.7521Z" fill="blue"/>
                            </svg>
                        </li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
    <div class="modal-filter is-none" id="modal-one">
        <div class="container">
            <form class="form">
                <div class="box-field">
                    <ul class="list-inline">
                        <li>
                            <h2 class="title is-4">
                                <strong>Filtros</strong>
                            </h2>
                        </li>
                        <li  class="has-text-right">
                            <button class="btn-close modal-exit">
                                <span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.2028 6.47484C19.5933 6.08432 19.5933 5.45116 19.2028 5.06063L18.8492 4.70708C18.4587 4.31655 17.8255 4.31655 17.435 4.70708L12.6621 9.48C12.2716 9.87052 11.6384 9.87052 11.2479 9.48L6.47495 4.70708C6.08442 4.31655 5.45126 4.31655 5.06073 4.70708L4.70718 5.06063C4.31665 5.45116 4.31665 6.08432 4.70718 6.47484L9.4801 11.2478C9.87062 11.6383 9.87062 12.2715 9.4801 12.662L4.70708 17.435C4.31655 17.8255 4.31655 18.4587 4.70708 18.8492L5.06063 19.2028C5.45116 19.5933 6.08432 19.5933 6.47484 19.2028L11.2479 14.4297C11.6384 14.0392 12.2716 14.0392 12.6621 14.4297L17.4351 19.2028C17.8256 19.5933 18.4588 19.5933 18.8493 19.2028L19.2029 18.8492C19.5934 18.4587 19.5934 17.8255 19.2029 17.435L14.4298 12.662C14.0393 12.2715 14.0393 11.6383 14.4298 11.2478L19.2028 6.47484Z" fill="black"/>
                                    </svg>
                                </span>    
                            </button>
                        </li>
                    </ul>
                    <div class="inputGroup">
                        <input id="option1" name="option1" type="checkbox"/>
                        <label for="option1">Rubia</label>
                    </div>
                    <div class="inputGroup">
                        <input id="option2" name="option1" type="checkbox"/>
                        <label for="option2">Morena</label>
                    </div>
                    <div class="inputGroup">
                        <input id="option3" name="option1" type="checkbox"/>
                        <label for="option3">Roja</label>
                    </div>
                </div>
                <ul class="list-inline is-bgc-gray py-5">
                    <li class="px-2">
                        <button class="button is-fullwidth btn-clean">Limpiar</button>
                    </li>
                    <li class="px-2">
                        <button class="button is-fullwidth btn-filter">
                            <span>
                                Filtrar
                            </span>
                            <span class="icon-btn">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.10882 4.83059C4.93001 4.60261 4.9764 4.27779 5.21243 4.10508C5.30561 4.0369 5.41931 4 5.53621 4H19.4638C19.7599 4 20 4.23186 20 4.51787C20 4.63077 19.9618 4.74059 19.8912 4.83059L13.8405 12.5448V18.4821C13.8405 18.5843 13.8091 18.6843 13.7504 18.7693C13.5861 19.0073 13.2533 19.0716 13.0069 18.913L11.3983 17.8772C11.2492 17.7812 11.1596 17.6195 11.1596 17.4463V12.5448L5.10882 4.83059Z"/>
                                </svg>
                            </span>
                        </button>
                    </li>
                </ul>
            </form>
        </div>
    </div>



    {{> footer}}
    
{{/main}}